* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif Georgian', serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../images/bg_img_home-e16572d3bc53d2518b2a66c8cb24eeff3cbe72c5975dc94e6a07f14bb74d10ba.jpg');
    background-size: cover; /* This ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    max-height: 750px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.app.fadeIn{
    opacity: 1;
}
.app h1{
    font-size: 25px;
    color: #100c08;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}


.quiz{
    padding: 0 0;
    
}
.quiz h2{
    font-size: 18px;
    color:#100c08;
    font-weight: 600;
    padding: 20px 0;
}

#question{
    border-bottom: 1px solid black;
}

.btn {
    background: linear-gradient(to right, #f0f8ff, #feede1);
    color: #100c08;
    font-weight: 500;
    width: 100%;
    outline: none;
    border: 1px solid #0e1129;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 0px;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: ease-in;
}

.btn:hover:not([disabled]) {
    background: linear-gradient(to right, #994306, #002d55);
    color: #fff; /* Text color on hover, adjust as needed */
}


.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    display: none;
}

.correct {
    background: linear-gradient(to right, #69dd8e, #e9f0ce);
    margin: 10px 0px 0px 0px;
    border-bottom: 0;
}
.incorrect {
    background: linear-gradient(to right, #dd6969, #dd8c69);
}

.additional {
    
    background: linear-gradient(to right, #69dd8e, #e9f0ce);
    margin: 0px 0px 0px 0px;
    padding: 5px;
    border: 1px solid #4d2a2a;
    border-top: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    display: block;
    outline: none;
    text-align: left;
    /*opacity: 0;
    transition: opacity 0.5s ease-in-out;*/
}

