<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ReforMeter Quiz</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets\styles\style.css">
        <!-- Inside the <head> section of index.html -->
    <script>
        if (performance.navigation.type === 1) {
            // Page is being reloaded
            window.location.href = 'title_page.html';
        }
    </script>

    </head>
    <body>
        <div class="app">
            <h1>ReforMeter Quiz</h1>
            <div class="quiz">
                <h2 id="question">Question Goes here</h2>
                
                <div id="answer-buttons">
                    <button class="btn">Answer 1</button>
                    <button class="btn">Answer 2</button>
                    <button class="btn">Answer 3</button>
                    <button class="btn">Answer 4</button>
                </div>
                <button id="next-btn">შემდეგი</button>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            console.log('Script is running.');
            setTimeout(() => {
                document.querySelector('.app').classList.add('fadeIn');
                }, 100); // Add a slight delay if needed
            });

        </script>
        <script src="assets\scripts\script.js" async defer></script>
    </body>
</html>
